<!DOCTYPE html>
<html>
  <head>
    <title>Modime</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% if notice %>
      <div><%= notice %></div>
    <% end %>
    <% if alert %>
      <div><%= alert %></div>
    <% end %>
    <% if user_signed_in? %>
      Logged in as a reg user: <strong><%= current_user.email %></strong> |
      <%= link_to 'Edit profile', edit_user_registration_path %> |
      <%= link_to "Logout", destroy_user_session_path, method: :delete  %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path %> |
      <%= link_to "Login", new_user_session_path  %>
    <% end %>
    <% if admin_signed_in? %>
    Logged in as an admin: <strong><%= current_admin.email %></strong> |
    <%= link_to 'Admin Portal', rails_admin_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
